@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#app {
  min-height: 100%;
  position: relative;
  padding-bottom: 3.5rem;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: bisque;
}
